{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

<div class="mt-5" id="root"></div>
{% endblock %}

{% block javascripts %}
{{ parent() }}
{{ encore_entry_script_tags('product') }}
{% endblock %}